/* .catalog-container h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

    margin-bottom: 50px;
} */

.link-container {
    display: flex;
    flex-direction: column;
}

.link-container a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    /* .catalog-container h2 {
        font-size: 48px;
        line-height: 65px;

        margin-bottom: 40px;
    } */

    .link-container a {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 25px;
    }

}

