@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-card {
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: solid 1px #6c6c6c;
}

.base-input {
  background: #fefefe;
  order: 1px solid #fefefe;
  border-radius: 4px;
  height: 45px;
}

.base-input::placeholder {
  color: #9e9e9e;
}


.base-private-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 12px;
  padding-left: 12px;
}

@media (min-width: 320px) {
  .base-private-container {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (min-width: 576px) {
  .base-private-container {
      padding-left: 25px;
      padding-right: 25px;
  }
}

@media (min-width: 768px) {
  .base-private-container {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .base-private-container {
      padding-left: 50px;
      padding-right: 50px;
  }
}
